@import url('https://fonts.googleapis.com/css2?family=Love+Light&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Edu+NSW+ACT+Foundation:wght@400..700&family=Love+Light&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Edu+NSW+ACT+Foundation:wght@400..700&family=Love+Light&family=Ubuntu+Sans:ital,wght@0,100..800;1,100..800&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&family=Sriracha&display=swap');




:root {
    --fonte1: "Love Light", cursive;
    --fonte2: "Edu NSW ACT Foundation", cursive;
    --fonte3: "Ubuntu Sans", sans-serif;
    --cor1: #010d23 ;
    --cor2: #03223f ;
    --cor3:  #038bbb ;
    --cor4:  #fccb6f ;
    --cor5:  #e19f41 ;
}

::-webkit-scrollbar {
    width: 0px;
    height: 0px;
}

* {
    line-height: 1.5em;
    padding: 0px;
    margin: 0px;
}

body {
    background-color: black;
    font-family: Arial, Helvetica, sans-serif;
}

header {

    padding: 30px;
    color: white;
    box-shadow: 2px 2px 8px black;
    background-image: linear-gradient(#03223f, #010d23);
    text-align: center;
}

header > h1 {
    font-family: "Courgette", cursive;
    font-size: 3em;
}

.inicioela {
    display: flex;
    align-items: end;
    background-color: rgba(110, 110, 110, 0.322);
    width: 71px;
    padding: 10px;
    border-radius: 30px;
    margin-left: 50%;
    transform: translate(-50%);
    margin-top: 10px;
}

.inicioela > a {
    font-family: var(--fonte3);
    font-weight: bolder;
    color: white;
    text-decoration: none;
    font-size: 0.8em;
    margin-left: 5px;
    border: 20px;

}

.inicioela > img {
    width: 25px;
    height: 25px;
}

.inicioela:hover {
    border: 2px solid #fccb6f9d;
    transform: translate(10px, 10px, 10px);
}


/*-------*/

body {
    background: url(imagens/fundo-musica.png) fixed;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
}

.inicio {
    text-align: center;
    margin-top: 20px;
    color: white;
    font-family: var(--fonte3);
    text-shadow: 2px 2px 5px black;
    font-size: 1.5em;
}

/*------------*/ 

.container {
    display: inline-block;
    width: 340px;
    background-color: rgba(31, 31, 31, 0.555);
    text-align: center;
    border-radius: 30px;
    margin-left: 50%;
    transform: translate(-50%);
    padding: 15px;
    margin-top: 20px;
}

.container > p {
    color: white;
    text-shadow: 3px 3px 5px #010d23;
    font-family: 'Courier New', Courier, monospace;
    font-size: 1em;
}

.container > audio {
    height: 40px;
    margin-top: 5px;
}

footer {
    padding: 10px;
    padding-bottom: 40px;
    margin-top: 20px;
    }
    
    footer > h1{
        font-family: var(--fonte1);
        color: white;
        text-align: center;
        color: #f20044;
    }